body {
	font-family: 'Montserrat', sans-serif;
	height: 100%;
	font-weight: 400;
}

*, *:before, *:after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
	overflow: hidden;
}

nav ul {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white;
	padding-left: 2em;
}

nav li {
	float: left;
}

li {
	display: inline-block;
}

li a {
	display: inline-block;
	color: black;
	font-weight: 700;
	text-decoration: none;
	padding: 1em;
}

li a:hover {
	color: #3B009C;
}

header {
	height: 100%;
	display: table;
	padding: 5em 3em;
}

.work {
	display: table;
	margin: auto;
	width: 100%;
	height: 100%;
}

.work>div {
	display: table-row;
	height: 50%;
}

.work>div>div {
	display: table-cell;
	background-color: rgb(59,0,156);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 50%;
	height: 50vw;
}

.work>div>div>a {
	text-decoration: none;
	color: white;
	font-family: 'Montserrat', sans-serif;
	color: transparent;
	font-weight: 700;
	font-size: 200%;
	line-height: 1.75em;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 100%;
}

.work>div>div>a>h2 {
	font-size: 100%;
	line-height: 1.2em;
	margin-top: .25em;
}

.work>div>div>a:hover {
	background-color: rgba(59, 0, 156, .8);
	color: white;
}

#bella {
	background-image: url("https://kattow88.github.io/bella-caffe/assets/bella_exterior.jpg");
}

#teatime {
	background-image: url("https://kattow88.github.io/tea-time/assets/tea-time.jpg");
}

#weatherpug {
	background-image: url("https://kattow88.github.io/weatherpug/assets/hover-doug.jpg");
}

#sh-ttrumpsaid {
	background-color: rgb(40, 40, 40);
	background-image: url("https://whatdoestrumpthink.com/api-docs/images/logo.png");
}

.image-container {
	width: 100%;
	padding-top: 5em;
}

#selfie {
	background-image: url("https://kattow88.github.io/assets/selfie.jpg");
	background-size: cover;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	margin: auto;
}

footer {
	width: 100%;
	text-align: center;
	padding: 2em 0 .5em 0;
	font-size: 1.25em;
}

i:after {
	color: rgb(59,0,156);
}

@media screen and (max-width: 800px) {
	.work>div>div>a>h2 {
		font-size: .75em;
	}
}

@media screen and (max-width: 600px) {
	.work>div>div {
		display: block;
		width: 100%;
	}
}
