body {
	font-family: 'Montserrat', sans-serif;
	color: rgb(40, 40, 40);
	height: 100%;
	font-weight: 400;
	background-color: white;
	background: linear-gradient(-70deg, white, rgba(83, 198, 140, .5));
	background: -webkit-linear-gradient(-70deg, white, rgba(83, 198, 140, .5));
	background: -o-linear-gradient(-70deg, white, rgba(83, 198, 140, .5));
	background: -moz-linear-gradient(-70deg, white, rgba(83, 198, 140, .5));
}

*, *:before, *:after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	height: 50vh;
	width: 100%;
	display: table;
	padding: 10em 3em;
}

ul {
	list-style-type: none;
	overflow: hidden;
}

nav ul {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: transparent;
	padding-left: 2em;
	height: 3.5em;
	opacity: 1;
}

nav li {
	float: left;
}

li {
	display: inline-block;
}

li a {
	display: inline-block;
	color: rgb(40, 40, 40);
	font-weight: 700;
	text-decoration: none;
	padding: 1em;
}

li a:hover {
	color: rgb(83, 198, 140);
}

.change {
	-webkit-animation: fadeOut 200ms forwards;
	animation: fadeOut 200ms forwards;
}

@webkit-keyframes fadeOut {
	from {opacity: 1;}
	to {opacity: 0;}
}

@keyframes fadeOut {
	from {opacity: 1;}
	to {opacity: 0;}
}

.work {
	display: table;
	margin: auto;
	width: 100%;
	height: 100%;
	border-collapse:separate;
	border-spacing: 5vw;
}

.work>div {
	display: table-row;
}

.work>div>div {
	width: 50%;
	height: 42.5vw;
	margin: 1em;
	display: table-cell;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	box-shadow: .5em .5em 3em rgba(0, 0, 0, .2);
}

.work>div>div>a {
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	color: rgba(0, 0, 0, 0);
	font-weight: 700;
	font-size: 200%;
	line-height: 1.75em;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 100%;
}

.work>div>div>a>h2 {
	font-size: 100%;
	line-height: 1.2em;
	margin-top: .25em;
}

.work>div>div>a:hover {
	background-color: rgba(255, 255, 255, .8);
	color: rgb(83, 198, 140);
}

#weatherpug {
	background-image: url("https://kattow88.github.io/weatherpug/assets/hover-doug.jpg");
}

#teatime {
	background-image: url("https://kattow88.github.io/tea-time/assets/tea-time.jpg");
}

#sh-ttrumpsaid {
	background-color: rgb(40, 40, 40);
	background-image: url("https://whatdoestrumpthink.com/api-docs/images/logo.png");
}

#wiki {
	background-image: url("https://kattow88.github.io/assets/wiki-search.jpg")
}

.image-container {
	width: 100%;
	height: 70%;
	padding: 15vw 0 2vw 0;
}

#banner {
	position: relative;
	height: 10px;
	width: 100%;
}

#selfie {
	background-image: url("https://kattow88.github.io/assets/selfie.jpg");
	background-size: cover;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	position: absolute;
	top: -70px;
	left: 50%;
	transform: translateX(-50%);
	margin: auto;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
}

.table {
	color: rgb(40, 40, 40);
	background-color: rgba(240, 240, 240, .8);
	display: table;
	width: 100%;
	padding-bottom: 5vw;
}

.table>div {
	display: table-row;
}

.table>div>div {
	display: table-cell;
	padding: 6vw;
}

.about h3 {
	font-size: 1.5em;
	margin: 1em 0;
}

.about p {
	line-height: 175%;
}

.about br {
	line-height: 250%;
}

.about p, .about li {
	font-family: 'Nunito Sans', sans-serif;
	color: rgb(40, 40, 40);
}

.about li {
	display: block;
	margin: 0 auto .75em auto;
}

#skills {
	padding-right: 15vw;
}


footer {
	width: 100%;
	text-align: center;
	padding: 8vw 0 5vw 0;
	font-size: 1.25em;
}

i:after {
	color: rgb(59,0,156);
}

@media screen and (max-width: 800px) {
	.work>div>div>a>h2 {
		font-size: .75em;
	}
}

@media screen and (max-width: 740px) {
	.work {
			border-spacing: 0;
	}

	.work>div {
		display: block;
	}

	.work>div>div {
		display: block;
		width: 90%;
		height: 60vw;
		margin: 2em auto;
	}

	.image-container {
		padding: 20vw 0 2vw 0;
	}

	.table>div>div {
		display: block;
		padding: 6vw 6vw 0 6vw;
	}

	.about li {
		display: inline;
		margin: 0 5vw 0 0;
		line-height: 175%;
	}

	#skills {
		padding: 6vw 6vw 0 6vw;
	}

}
