/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Content
	# Media Q
# Layout
	# Media Q
# Misc
	# typed.js
--------------------------------------------------------------*/
@import "variables/colors";
@import "variables/typography";
@import "mixins/mixins";
@import "normalize";
@import "layout/layout";
@import "content/content";

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

*, *:before, *:after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
  height: 100%;
}

img {
  max-width: 100%;
}

nav {
	min-height: 10vh;
	background-color: $onyx;
	#me {
		display: none;
	}
	li a {
		display: inline-block;
		padding: 2em 4em 1.25em 0;
		&:hover {
			color: $light-white;
		}
	}
}

header {
	height: 90vh;
	width: 100%;
	padding: 10vh 0;
	background-color: $onyx;
	color: $light-white;
}

section {
	padding: 5em 0 5em 0;
	max-width: 1400px;
	margin: auto;
}

footer {
	width: 100%;
	text-align: center;
	padding: 2em 0 5em 0;
	background-color: $onyx;
	color: $light-white;
	> div {
		margin: 2em auto;
	}
	h3 {
		padding: 2em 0 1em;
	}
	li a {
		padding: 1em;
		font-size: 1.25em;
	}
}

i:after {
	color: rgb(59,0,156);
}

/*------------------------------------------------------------*/
// Media Q
@media screen and (min-width: 412px) {
	nav {
		#me {
			display: inline-block;
		}
	}
	header {
		padding-top: 30vh;
	}
}

@media screen and (min-width: 620px) {
		header {
		> * {
			max-width: 500px;
		}
	}
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
.container {
	padding-left: $container;
	padding-right: $container;
}

.title {
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.subtitle > * {
	color: $onyx;
}
.subtitle a {
	&:hover {
		color: $sea;
	}
}

.img-wrap {
	margin: 1.3em auto;
  position: relative;
  overflow: hidden;
	border-radius: 50%;
	width: 70%;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: (1 / 1) * 100%;
  }
  > .img-inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  	background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		&:hover {
			filter: brightness(110%);
		}
  }
}

/*------------------------------------------------------------*/
// Media Q
@media screen and (min-width: 420px) {

}

/*--------------------------------------------------------------
# Misc
--------------------------------------------------------------*/

// typed.js
.typed-cursor {
  -webkit-animation: blink .7s infinite;
  -moz-animation: blink .7s infinite;
  animation: blink .7s infinite;
  opacity: 1;
  color: $mint;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}